# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment
venv/
env/
cust_seg_env/

# Ignore logs
*.log

# Ignore system files
.DS_Store
Thumbs.db

dataset/CC_GENERAL_log1p.csv

questions.txt
References/
