# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment
venv/
env/

# Ignore logs
*.log

# Ignore system files
.DS_Store
Thumbs.db

dataset/CC_GENERAL_log1p.csv
dataset/CC_GENERAL_log2.csv

questions.txt
transformers/
